{% extends "profiles/base.html" %}
{% load static %}

{% block data1 %}
{% for data in u_data %}
<a href="#" class="img logo rounded-circle mb-5" style="background-image: url({% static 'image/'%}{{data.user_img}});"></a>
<h2> {{ data.user.first_name }} {{ data.user.last_name }}</h2>
   <ul class="list-unstyled components mb-5">
             <li>
	              <a href="../../project">Home</a>
	          </li>
	          <li >
	            <a href="../">Profile</a>

	          </li>
	          <li>
	              <a href="../projects">Projects</a>
	          </li>
                <li>
	              <a href="../donations">Donations</a>
	          </li>
	          <li class="active">
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle ">Settings</a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="">Edit Profile</a>
                </li>
                <li>
                    <a href="../delete">Delete Account </a>
                </li>

              </ul>
	          </li>

	        </ul>
{% endfor %}
{% endblock %}

{% block data2 %}
       <ul class="nav navbar-nav ml-auto">
                 <li class="nav-item">
                    <a class="nav-link" href="../../project">Home</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/profiles">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../donations">Donations</a>
                </li>
                  <li class="nav-item active">
                      <a href="#menu" data-toggle="collapse" class="dropdown-toggle nav-link">Settings</a>
                                  <ul class="collapse list-unstyled" id="menu">
                                      <li>
                                        <a href="">Edit Profile</a>
                                    </li>
                                    <li>
                                        <a href="../delete">Delete Account </a>
                                    </li>
                                  </ul>
                  </li>
       </ul>

{% endblock %}
{% block table %}
{% for data in u_data %}
    <form method="POST"  action ="/profiles/edit/" enctype="multipart/form-data">
        {% csrf_token %}
        {{u_form.as_p}}
        {{p_form.as_p}}
        <div class="form-group col-md-6">
            <img src="{% static 'image/'%}{{data.user_img}} " style="width:80px;height:80px"/>
         </div>
        <input type="submit" value="save" class="btn btn-warning ">

    </form>
{% endfor %}
{% endblock %}
