{% load static %}
{% for user in u_data %}

<html lang="en">
  <head>
  	<title>Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/profile.css' %}">
  </head>
  <body>

		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="p-4 pt-5">
		  		<a href="#" class="img logo rounded-circle mb-5" style="background-image: url({% static 'images/'%}{{user.user_img}});"></a>
                       <h2> {{ user.fname }} {{ user.lname }}</h2>
	       <ul class="list-unstyled components mb-5">
	          <li class="active">
	            <a href="../">Home</a>

	          </li>
	          <li>
	              <a href="#">Projects</a>
	          </li>
                <li>
	              <a href="../donations">Donations</a>
	          </li>
	          <li>
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Settings</a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="#">Edit Profile</a>
                </li>
                <li>
                    <a href="#">Delete Account </a>
                </li>

              </ul>
              </li>
           </ul>
	        <div class="footer">
	        	<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
						  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
	        </div>

	      </div>
    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-primary">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="../">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../donations">Donations</a>
                </li>
                <li class="nav-item">
                      <a href="#menu" data-toggle="collapse" class="dropdown-toggle nav-link">Settings</a>
                                  <ul class="collapse list-unstyled" id="menu">
                                    <li>
                                        <a href="../edit">Edit Profile</a>
                                    </li>
                                    <li>
                                        <a href="#">Delete Account </a>
                                    </li>

                                  </ul>

                </li>
              </ul>
            </div>
          </div>
        </nav>
           <h2 class="mb-4">ِAll Projects</h2>
          <table class="table table-bordered table-warning">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Title</th>
                  <th scope="col">Details</th>
                  <th scope="col">Total Target</th>
                    <th scope="col">Current Amount</th>
                     <th scope="col">Start Date</th>
                     <th scope="col">End Date</th>
                     <th scope="col">Tags</th>
                </tr>
              </thead>
            {% for project in p_data %}

              <tbody>
                <tr>
                  <td>{{project.p_id}}</td>
                  <td>{{project.title}}</td>
                  <td>{{project.details}}</td>
                  <td>{{project.total_target}}</td>
                    <td>{{project.current_amout}}</td>
                    <td>{{project.start_date}}</td>
                    <td>{{project.end_date}}</td>
                    <td>{{project.tags}}</td>
                </tr>
              </tbody>
              {% endfor %}



            </table>



      </div>
		</div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
{% endfor %}
