{% extends "layout/layout.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/userProject.css'%}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{%static 'css/rates.css'%}" />
<link rel="stylesheet" href="{%static 'css/rating.css' %}" />
<link rel="stylesheet" href="{% static 'css/similarProjects.css'%}">
<link rel="stylesheet" href="{% static 'css/projectStyles.css'%}">

{% endblock %}
{% block content %}
{% include "layout/userHeader.htm" %}
<div class="col-12 " id="projectImagescarousel">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        
        
        <div class="carousel-inner">
                
            <div class="tag">
                <h3 class="title projectTitle" id="projectTitle">{{project.title}}</h3>
                <div id="cancellingIndecation"></div>
                <p class="lead header projectDetails">{{project.details}} </p>
            </div>

            {%for image in images%}
            <div class="carousel-item mainprojectSlider">
                <img src="{%static image%}" class="d-block w-100 sliderImg" alt="...">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
            {%endfor%}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="container maincontainer">
    
    <div class="row postDetails">
       
        <div class="col-12 offset-2 content">
            <div>
                <div class="card" id="detailsCard">
                    <a href="" class="btn btn-warning reportProject" data-toggle="modal" data-target="#exampleModal"
                        data-whatever="@mdo">Report Project</a>
                    <div class="col-4 offset-1">
                        <p class="projectInfo"><span class="contentData">Project Target:</span> {{project.total_target}}$</p>
                        <p class="projectInfo"><span class="contentData">Current Amout:</span> {{project.current_amout}}$</p>
                        <p class="projectInfo"><span class="contentData">Category: </span> {{project.category.cat_name}}</p>
                        <p class="projectInfo"><span class="contentData">Start Date:</span> {{project.start_date}}</p>
                        <p class="projectInfo"><span class="contentData">End Date: </span> {{project.end_date}}</p>
                        <strong class="text-light" style="display: block;">rate now</strong>
                        {%include "projects/rating.html"%}
                    </div>    
                    <a class="btn btn-success donate" id="donateBtn" href="/project/{{ project.title.split|join:'-' }}">Donate Now</a>
                   
                </div>
                
                {%include "projects/cancelProject.html"%}
                <!-- Report Project Modal -->
                <div style="color: black;" class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Report This Project</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    {% csrf_token %}
                                    <p>Help us understand what's happening with this Project. How would you describe it?
                                    </p>
                                    <div class="form-group">
                                        <label for="report_text" class="col-form-label">Report:</label>
                                        <textarea name="report" class="form-control" id="report_text"></textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <input class="btn btn-primary" type="submit" id="projectReport"
                                            value="Send Report" name="project_report">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Users Comments On The Project -->
    {% if comments %}
    <div class="row postDetails offset-3 col-6" id="PostContainer">
        {% for comment in comments %}
        <div class="userCommentsContainer bg-light" style="width: 100%;">
            <div class="userComment">
                <img class="commentImg" src="{% static 'image/'%}{{comment.user.user_img}}">
                <p class="usernameComment" style="font-weight:bold ">{{ comment.user.fname }} {{comment.user.lname}}
                </p>
                <div class="commentControllers">
                    <a style="color: white;" class="btn btn-warning commentEdit"
                        href="?comment_id={{comment.comment_id}}" data-toggle="modal"
                        data-target="#reportCommentModal">Report</a>
                </div>
                <p class="commentContent lead header">{{comment.comment_body}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Report Comment Modal -->
    <div style="color: black;" class="modal fade" id="reportCommentModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Report This Comment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="CommentModalBody">
                    <form>
                        {% csrf_token %}
                        <p>Help us understand what's happening with this Comment. How would you describe it?</p>
                        <div class="form-group">
                            <label for="report_text" class="col-form-label">Report:</label>
                            <textarea name="reportComment" class="form-control" id="report_comment"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <a class="btn btn-primary" id="commentReport">Send Report</a>
                            <!-- <input class="btn btn-primary" type="submit" id="commentReport" value="Send Report" name="comment_report"> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row postDetails offset-3 col-6">
        <div class="userCommentsContainer" style="width: 100%;">
            <p style="margin-left: 30px;margin-right: 30px;margin-top: 20px;font-weight: bold;">Be The First One To Add
                Comment On This Project</p>
        </div>
    </div>
    {% endif %}

    <!-- Add Comment On Specified Project -->
    <div class="row postDetails mb-5">
        <div class="comment offset-3 col-6">
            <form class="col-11 offset-1">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control col-12" name="commentContent" style="margin-left: -22px;" />
                </div>
                <input type="submit" id="addNewComment" value="Add Comment" name="addComment"
                    class="btn btn-primary submitComment">
            </form>
        </div>
    </div>

    <!--project rating html-->
    {% include "projects/rates.html" %}
    <!---->
    <!--similar projects-->
    {% include "projects/similarProjects.html" %}
    <!---->
</div>

{% endblock %}
{% block js %}
<script type="text/javascript">
    //Add Comment Using Ajax With Django
    $(document).on('click', '#addNewComment', function (e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: 'http://localhost:8000/project/addcomment',
            data: {
                project_id: '{{project.p_id}}',
                user_id: "1",
                comment_content: $("input[name='commentContent']").val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function (data) {
                console.log(data);
                $("input[name='commentContent']").val("")
                let object = JSON.parse(data["data"]);
                let fields = object[0]["fields"];
                let commentBody = fields.comment_body;
                let username = data.username;
                let user_img = data.user_img
                var html = '<div class="userCommentsContainer" style="width: 100%;">' +
                    '<div class="userComment">' +
                    '<img class="commentImg" src="{% static ' / image / '%}' + user_img + '">' +
                    '<p class="usernameComment" style="font-weight:bold ">' + username + '</p>' +
                    '<div class="commentControllers">' +
                    '<a href="" class="btn btn-danger commentEdit" >Report</a>' +
                    '</div>' +
                    '<p class="commentContent lead header">' + commentBody + '</p>' +
                    '</div>' +
                    '</div>';
                $("#PostContainer").append(html);
            }
        })
    });
    // Set Comment Id For Send Report Button
    $(document).on("click", ".commentEdit", function (e) {
        $("#commentReport").attr("href", $(this).attr('href'));
    });
    // Comment Report Using Ajax
    $(document).on("click", "#commentReport", function (e) {
        let comment_id = $(this).attr('href').split("=")[1];
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "http://localhost:8000/project/report_comment",
            data: {
                comment_id: comment_id,
                report_content: $("#report_comment").val(),
                user_id: "1",
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success(data) {
                $("#report_comment").val("");
                var html = '<p style="color: #009E74;font-weight: bold;">' +
                    'Thank You For Your Comment Report We Will Review It Soon' +
                    '</p>';
                $("#CommentModalBody").append(html);
                setTimeout(function () {
                    $('#reportCommentModal').modal('hide');
                }, 1300);
            }
        })
    });
    // Project Report Using Ajax
    $(document).on("click", "#projectReport", function (e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: 'http://localhost:8000/project/report',
            data: {
                project_id: '{{project.p_id}}',
                user_id: "1",
                report_text: $("#report_text").val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function (data) {
                $("#report_text").val("");
                var html = '<p style="color: #009E74;font-weight: bold;">' +
                    'Thank You For Your Report We Will Review It Soon' +
                    '</p>';
                $(".modal-body").append(html);
                setTimeout(function () {
                    $('#exampleModal').modal('hide');
                }, 1300);
            }
        })
    });
    $(".mainprojectSlider:first").addClass("active");
</script>
{% endblock %}