{% extends "layout/layout.html" %}
{% load static %}

{% block content %}
<!--start first section-->
 <!--slider to show five rate project-->
 <header>
  {% include "layout/userHeader.htm" %}
  <div id="slides" class="overlay">
    {% for project in ProjectRate %}
    <div class="slide" >
      <span class="animate in" style="background-image: url(/{{project.project_id.image.image_name.url}})"></span>
        <div class="text">
            <h3><strong class="text-primary">Project Title: </strong>{{project.project_id.title}}</h3>
            <p>{{project.project_id.details|truncatechars:50}}</p>
            <a class="button btn-success" href="{{project.project_id.p_id}}">Read More</a>
        </div>
    </div>
    {% endfor %}
  </div>
</header>


<div class="container mt-5">
  <h2 class="h1  font-weight-bold text-decoration mt-5 mb-3"  style="color:#406d41">Latest Projects :</h2>
  <!--start projects latest-->
  <div class="row">
    {% for project in lastProject %}
    <div class="col-md-3 col-lg-4">
          <div class="card">
                <img src="/{{project.image.image_name.url}}" class="card-img-top w-100" height="200" alt="...">
            <div class="card-body ">
              <h5 class="card-title">{{project.title}}</h5>
              <p class="card-text">{{project.details|truncatechars:30}}</p>
              <a href="{{project.p_id}}" class="btn btn-info" style="width:100%">Read More</a>
            </div>
          </div>
      </div>
      {% endfor %}
  </div>
  <h2 class="h1  font-weight-bold text-decoration mt-5 mb-3" style="color:#406d41">Feature Projects :</h2>
  <!--start projects Feature-->
  <div class="row">
    {% for project in featureProjects %}
      <div class="col-md-3 col-lg-4 mb-2">
          <div class="card" >
                  <img src="/{{project.project.image.image_name.url}}" class="card-img-top w-100" height="200" alt="...">
            <div class="card-body ">
              <h5 class="card-title">{{project.project.title}}</h5>
              <p class="card-text">{{project.project.details|truncatechars:100}}</p>
              <a href="{{project.project.p_id}}" class="btn btn-info" style="width:100%">Read More</a>
            </div>
          </div>
      </div>
    {% endfor %}
  </div>
  <div class="list-group mt-5" style="width: 50%;">
    <h3 class="font-weight-bold text-decoration">List Of The Categories</h3>

    {% for project in categories %}
      <a class="list-group-item list-group-item-action list-group-item-primary" href="/view/{{project.cat_id }}">{{project.cat_name}}</a>
    {% endfor %}
  </div>
  
</div>

{% endblock %}
<!--file javascript-->
