{% extends "layout/layout.html" %}
{% load static %}

{% block content %}
<!--start first section-->
 <!--slider to show five rate project-->
<header>
    <div id="slides" class="overlay">
      <div class="slide" >
        <span class="animate in" style="background-image: url({% static 'image/header3.jpg'%})"></span>
          <div class="text">
              <p >Fundraising for the people and causes you care about</p>
              <h6>Get Started Today.</h6>
              <a class="button btn-success" href="">Read More</a>
          </div>
      </div>
      <div class="slide" >
        <span class="animate down" style="background-image: url('{% static 'image/header4.jpg'%}')"></span>
          <div class="text">
              <p>Fundraising for the people and causes you care about</p>
              <h6>Get Started Today.</h6>
              <a class="button btn-success" href="">Read More</a>
          </div>
      </div>
      <div class="slide" >
        <span class="animate in" style="background-image: url({% static 'image/pexels-photo-633409.jpeg'%})"></span>
          <div class="text">
              <p >Fundraising for the people and causes you care about</p>
              <h6>Get Started Today.</h6>
              <a class="button btn-success" href="">Read More</a>

          </div>
      </div>
      <div class="slide" >
        <span class="animate down" style="background-image: url({% static 'image/accueil-photographe-sdg-media-terrebonne.jpg'%})"></span>
          <div class="text">
              <p >Fundraising for the people and causes you care about</p>
              <h6>Get Started Today.</h6>
              <a class="button btn-success" href="">Read More</a>

          </div>
      </div>
    </div>
</header>


<div class="container mt-5">
    <h2 class="h1  font-weight-bold text-decoration" style="color:#406d41">Latest Projects :</h2>
    <!--start projects latest-->
    <div class="gallary mt-5">
        <div class="item ">
            <div class="card" style="width: 100%;">
                <div class="img" style="overflow:hidden">
                    <img src="{% static 'image/15.jpg'%}" alt=" ">
                </div>
              <div class="card-body ">
                <h5 class="card-title">Project Name</h5>
                <p class="card-text">Some quick example text to build on the card title and make.</p>
                <a href="#" class="btn btn-info" style="width:100%">Read More</a>
              </div>
            </div>
        </div>
        <div class="item ">
            <div class="card" style="width: 100%;">
                <div class="img" style="overflow:hidden">
                    <img src="{% static 'image/3.jpg'%}" alt=" ">
                </div>
              <div class="card-body ">
                <h5 class="card-title">Project Name</h5>
                <p class="card-text">Some quick example text to build on the card title and make.</p>
                <a href="#" class="btn btn-info" style="width:100%">Read More</a>
              </div>
            </div>
        </div>
        <div class="item">
            <div class="card" style="width: 100%;">
                <div class="img" style="overflow:hidden">
                    <img src="{% static 'image/12.jpg'%}" alt=" ">
                </div>
              <div class="card-body ">
                <h5 class="card-title">Project Name</h5>
                <p class="card-text">Some quick example text to build on the card title and make.</p>
                <a href="#" class="btn btn-info" style="width:100%">Read More</a>
              </div>
            </div>
        </div>
        <div class="item">

            <div class="card" style="width: 100%;">
                <div class="img" style="overflow:hidden">
                    <img src="{% static 'image/4.jpg'%}" alt=" ">
                </div>
              <div class="card-body ">
                <h5 class="card-title">Project Name</h5>
                <p class="card-text">Some quick example text to build on the card title and make.</p>
                <a href="#" class="btn btn-info" style="width:100%">Read More</a>
              </div>
            </div>
        </div>
        <div class="item">
            <div class="card" style="width: 100%;">
                <div class="img" style="overflow:hidden">
                    <img src="{% static 'image/2.jpg'%}" alt=" ">
                </div>
              <div class="card-body ">
                <h5 class="card-title">Project Name</h5>
                <p class="card-text">Some quick example text to build on the card title and make.</p>
                <a href="#" class="btn btn-info" style="width:100%">Read More</a>
              </div>
            </div>
        </div>
    </div>
    <h2 class="h1  font-weight-bold text-decoration" style="color:#406d41">Feature Projects :</h2>
    <!--start projects latest-->
    <div class="gallary mt-5">
        <div class="item ">
            <div class="card" style="width: 100%;">
                <div class="img" style="overflow:hidden">
                    <img src="{% static 'image/002.jpg'%}" alt=" ">
                </div>
              <div class="card-body ">
                <h5 class="card-title">Project Name</h5>
                <p class="card-text">Some quick example text to build on the card title and make.</p>
                <a href="#" class="btn btn-info" style="width:100%">Read More</a>
              </div>
            </div>
        </div>
        <div class="item ">
            <div class="card" style="width: 100%;">
                <div class="img" style="overflow:hidden">
                    <img src="{% static 'image/13.jpg'%}" alt=" ">
                </div>
              <div class="card-body ">
                <h5 class="card-title">Project Name</h5>
                <p class="card-text">Some quick example text to build on the card title and make.</p>
                <a href="#" class="btn btn-info" style="width:100%">Read More</a>
              </div>
            </div>
        </div>
        <div class="item">
            <div class="card" style="width: 100%;">
                <div class="img" style="overflow:hidden">
                    <img src="{% static 'image/6.jpg'%}" alt=" ">
                </div>
              <div class="card-body ">
                <h5 class="card-title">Project Name</h5>
                <p class="card-text">Some quick example text to build on the card title and make.</p>
                <a href="#" class="btn btn-info" style="width:100%">Read More</a>
              </div>
            </div>
        </div>
        <div class="item">

            <div class="card" style="width: 100%;">
                <div class="img" style="overflow:hidden">
                    <img src="{% static 'image/5.jpg'%}" alt=" ">
                </div>
              <div class="card-body ">
                <h5 class="card-title">Project Name</h5>
                <p class="card-text">Some quick example text to build on the card title and make.</p>
                <a href="#" class="btn btn-info" style="width:100%">Read More</a>
              </div>
            </div>
        </div>
        <div class="item">
            <div class="card" style="width: 100%;">
                <div class="img" style="overflow:hidden">
                    <img src="{% static 'image/2.jpg'%}" alt=" ">
                </div>
              <div class="card-body ">
                <h5 class="card-title">Project Name</h5>
                <p class="card-text">Some quick example text to build on the card title and make.</p>
                <a href="#" class="btn btn-info" style="width:100%">Read More</a>
              </div>
            </div>
        </div>
    </div>
    <div class="cat_search" style="position:relative">
        <div class="list-group text-dark" style="width:35%;display:inline-block">
          <h4 class="font-weight-bold text-decoration" style="color:#406d41">View projects for category name</h4>
          <a href="#" class="list-group-item list-group-item-action">Sport</a>
          <a href="#" class="list-group-item list-group-item-action">Medical</a>
          <a href="#" class="list-group-item list-group-item-action ">Emergency</a>
          <a href="#" class="list-group-item list-group-item-action ">Education</a>
        </div>
        <nav>
          <form class="form-inline">
            <input class="form-control mr-sm-2 " type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </nav>
    </div>
</div>


{% endblock %}
<!--file javascript-->
