header {
    height: 600px;
    margin-bottom:90px
}

header .text{
    width: 40%;
    position: relative;
    top: 27%;
    left: 5%;
    border-radius: 10px;
    font-size: 25px;
    color: #ebebeb;
    font-weight: bold;
    padding: 10px;
    background-color: rgba(44, 44, 44, 0.7);
  }
  header .text h6{
    margin-bottom:18px;
  }
  .btn-success
  {
      padding: 6px !important;
      border-radius: 10px;
      outline: none;
  }
 a:hover
  {
        text-decoration:none;
  }

.bf
{
    background:#343a40;
    color:#ccc;
    overflow: hidden;
}



