body{
    background-color: #f9f9ff;
    font-weight: 400;
}
.container{
    text-align: center;
    margin-top: 30px;
}
.lead{
    margin-top: 15px;
    font-size: 18px;
}
.content{
    margin-left: 50px;
}
.postDetails
{
    margin-top: 40px;
    width: 100%;
}
.sliderImg{
    height: 800px;
    width: 400px;
}
.projectInfo{
    color: #009E74;
    font-size: 22px;
    font-weight: bold;
    margin-left: 10px;
    display: inline-block;
}
.donate{
    width: 40%;
    color:white !important;
    font-size: 30px;
}
.comment{
    margin-top: -20px;    
}
.postImg{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    float: left;
}
.commentImg{
    margin-top: 2px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    float: left;
}
h4{
    margin-left: 10px;
    margin-top: 25px;
    float: left;
}
.usernameComment{
    margin-left: 45px;
}

.btnControllers{
    float:right;
}
.commentContent{
    font-size: 14px;
    margin-left: 45px;
    font-size: 16px;
    font-weight: 500;
}
.userCommentsContainer{
    border:1px solid lightgray;
    border-radius: 5px;
    height: 100%;
    margin-top: 20px;
    box-shadow: 2px 2px gray;
}
.commentEdit{
    margin-top: -35px;
    font-size: 13px;
    width: 80px;
    margin-right: 11px;
    float: right;
}
.submitComment{
    margin-top: -10px;
}

.reportProject{
    font-size: 13px;
    width: 120px;
    margin: 5px auto;
}

@media (min-width: 1200px){
.container {
    max-width: 1600px;
}
}

#detailsCard{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: center;
    background-color: black;
}
.contentData{
    color:white;
}
#projectImagescarousel, #carouselExampleCaptions{
    height:800px ;
}
.tag {
    float: left;
    position: absolute;
    left: 8%;
    top: 100px;
    z-index: 1000;
}    
.projectTitle{
    font-size: 55px;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 22px;
    line-height: 1.2;
    color: #fff;
}
.projectDetails{
    color: #eff4f6;
    font-size: 30px;
}
#PostContainer{
    background-color: black;
}
.ratesDiv{
    width: 60%;
    /* background-color: ; */
}
/* #cancelProjectBtn{
    position: absolute;
    top: 35%;
    left:85%;
    width: 200px;
    height: 80px;
    font-size: 25px;
} */
.contents{
    display: inline-block;
}

#donateBtn{
    position: absolute;
    top: 45%;
    left: 50%;
    z-index: 10000;
}
