{% extends 'auth/base.html' %}
{% block title%}Login{%endblock title %}
{% block content %}
        <h2 style="text-align: center;">Change Password</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Send Email</button>
    </form>
    <script>
        function addClass2(){
     $("input").addClass("form-control");
        }
        document.onloadeddata=$("input").addClass("form-control");
     </script>
    {% endblock content%}
</body>
    </html>