{% extends 'auth/base.html' %}
{% block title%}Login{%endblock title %}
{% block content %}
		<form action="/login_register/signin/" method="post">
			{% csrf_token %}
			<div class="form-group">
			  <label>User Name: </label>
			  <input type="text" class="form-control"  name="username" id="username">
			 			</div>
			<div class="form-group">
			  <label for="exampleInputPassword1">Password</label>
			  <input type="password" class="form-control" name="password" id="password">
			</div>
		
			<div class="row parent">
			<button type="submit" class="btn btn-success">Login</button>
		</div>
		  </form>
		<a href="/login_register/forgetpassword">Forget Password?</a>
		<div id="social">
		<button class="btn btn-primary mb-2">
			<a href="{% url 'social:begin' 'facebook' %}">Login with Facebook
			</a>
		</button>
		<button class="btn btn-info mb-2">
			<a href="{% url 'social:begin' backend='linkedin-oauth2' %}">Login with LinkedIn</a>
		</button>
</div>
{% endblock content %}
</body>
</html>
