{% extends 'auth/base.html' %}
{% block title%}Login{%endblock title %}
{% block content %}
<h2 style="text-align: center;">Reset Password</h2>
<h3>Enter your new password</h3>
<form class="form" action="project" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
<button type="submit" class="btn btn-primary btn-lg btn-block"><i class="icon-lock4"></i> Change Password</button>
<script>
    function addClass2(){
 $("input").addClass("form-control");
    }
    document.onloadeddata=$("input").addClass("form-control");
 </script>
{% endblock content%}
</form>  