<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{{ section.title }}{% endblock %}</title>
         <!-- css import for bootstrap  -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/font-awesome.css'%}" >
        <link rel="stylesheet" href="{% static 'css/subtle-slideshow.css'%}" >
        <link rel="stylesheet" href="{% static 'css/projectStyles.css'%}" >
        <!-- js import for bootstrap  -->
    <script src="{% static 'js/JQuery-3.3.1.min.js'%}"></script>
    <script src="{% static 'js/popper.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/jquery.subtle-slideshow.js'%}"></script>
    <script src="{% static 'js/project.js'%}"></script>
        {% block style %}
            
        {% endblock %}

        

    </head>
    <body>

        {% block content %}



        {% endblock %}
     <!--start footer -->
    <!-- Footer -->
<footer class="page-footer font-small special-color-dark bf mt-5">
    <!-- Footer Elements -->
    <div class="footer">

        <h3 class="text-center">copyRight &copy; by ITI Mansoura 2020 </h3>
    </div>
            <!-- js import for bootstrap  -->
    <script src="{% static 'js/JQuery-3.3.1.min.js'%}"></script>
    <script src="{% static 'js/popper.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/jquery.subtle-slideshow.js'%}"></script>

    {% block js %}
        
    {% endblock %}
  </footer>
  <!-- Footer -->
    </body>
</html>